.header {
    background: grey;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.header__button {
    // margin: 10px;
    background: green;
}

.header__menu--option {
    text-decoration: none;
    color: black;
}